@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3dbd9;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #24252a;
  box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo h1 {
  color: #fff;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 20px;
  transition: all 0.5s linear;
}

.nav-link {
  color: #fff;
  font-size: 1.15rem;
  text-decoration: none;
}

.login-button button {
  background-color: #62997a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
}

.login-button button:hover {
  background-color: #00755c;
}

.login-button button a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.mobile-menu,
.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 3rem;
  }

  .nav-item,
  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon .icon {
    cursor: pointer;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .login-button button{
    width: 100%;
  }

  .show-mobile-menu {
    display: block;
  }
}
